<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name, t('tasks.new.name') %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :description, t('tasks.new.description') %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="field form-check">
    <%= f.check_box :complete, class: 'form-check-input' %>
    <%= f.label :complete, t('tasks.new.complete'), class: 'form-check-label' %>
  </div>
  <div class="actions">
    <%= f.submit t('tasks.new.save_task'), class: 'btn btn-outline-primary' %>
  </div>
<% end %>
