<div class="mt-3">
  <h1><%= t('scrapper.index.title') %></h1>

  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col"><%= t('scrapper.index.table_name') %></th>
        <th scope="col"><%= t('scrapper.index.table_link') %></th>
        <th scope="col"><%= t('scrapper.index.table_date') %></th>
        <th scope="col"><%= t('scrapper.index.table_processed_at') %></th>
      </tr>
    </thead>

    <tbody>
      <% @scrap_results.each do |scrap_result| %>
        <tr>
          <td scope="row"><%= scrap_result.title %></td>
          <td><%= scrap_result.link %></td>
          <td><%= scrap_result.date %></td>
          <td><%= scrap_result.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="row text-center justify-content-center mt-5">
    <div class="mx-auto mb-5">
      <%= link_to t('scrapper.index.new_scrap'), scrapper_google_search_path, class: 'btn btn-outline-primary' %>
      <%= link_to t('scrapper.index.remove_scrap'), scrapper_remove_all_path, class: 'btn btn-outline-danger' %>
      <%= link_to t('scrapper.index.main_page'), root_path, class: 'btn btn-link' %>
    </div>
  </div>
</div>
